{% extends 'draw.html' %}

{% block content %}
<div class="canvas-wrapper">
    <canvas id="canvas" width="800" height="500"></canvas>
</div>
  
<br><br>

<div>
  <button onclick="addRectangle()"> Add Rectangle </button>

  <!--button onclick="computeDistantRepsClosure()"> Compute Distant Representatives </button-->

  <!--button onclick="computeDistantReps('{{ url_for("computeReps") }}')"> Compute Distant Representatives </button-->

  <button onclick="computeDistantReps('{{ url_for("getReps", name="") }}')"> Compute Distant Representatives </button>


</div>

<br><br>
<div>
  <h1 id="blah"> &delta;* = </h1>
</div>
{% endblock %}